body {
  width: 50%;
  margin: 10% 25% 0% 15%;
}

#header {
  display: flex;
  justify-content: center;
  background-color: #fff2d5;
  margin-bottom: 25px;
  width: 100%;
}
#heading {
  display: inline-block;
  color: #707070;
  font-family: Helvetica Neue;
}

/* forms */

#form {
  display: flex;
  height: 120px;
  width: 100%;
  /* border: 2px solid black; */
  /* justify-content: space-around; */
}

form {
  height: 100%;
  width: 100%;
}

label {
  font-size: 11px;
}

#task-title {
  width: 40%;
  height: 13%;
  border: 1px solid #919191;
  border-radius: 3px;
}

#task-desc {
  width: 45%;
  height: 35%;
  border: 1px solid #919191;
  border-radius: 3px;
}

::placeholder {
  color: #565a5c;
  font-size: 11px;
}

/* task items */

#main-box {
  display: flex;
  /* justify-content: center; */
  /* border: 3px solid red; */
  /* width: 100%; */
}
ul {
  width: 100%;
  /* border: 3px solid yellow; */
  padding: 0%;
}
li {
  display: flex;
  /* flex-direction: column; */
  width: 100%;
  list-style-type: none;
  /* border: 3px solid purple; */
}

.list-items {
  /* border: 3px solid black; */
  height: 110px;
  width: 100%;
  margin-bottom: 10px;
  font: normal normal bold 12px Helvetica Neue;
  color: #707070;
  background-color: #d5fffc;
  padding: 15px 9px;
}
h4 {
  font-size: 12px;
}
